@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="m-3">Таблицы</h2>

<div class="d-flex">
    <div class="card m-3" style="width: 18rem;">
        <img src="./imgs/lean-ground-beef-burgers.jpeg" class="card-img-top " alt="..." height="160" style="object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">Продукты</h5>
            <p class="card-text">Таблица наших продуктов</p>
            <a class="btn btn-primary" asp-page="/Products/Product">Открыть</a>
        </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
        <img src="./imgs/produkty-bez-glyutena-9600-960x540.jpg" class="card-img-top" alt="..." height="160" style="object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">Ингредиенты</h5>
            <p class="card-text">Таблица наших ингредиентов</p>

            <a class="btn btn-primary" asp-page="/Ingredients/Index">Открыть</a>
        </div>
    </div>
</div>
